@import "../../sass/mixins";

.About {
  @include block-grid-rools();
  &-Title {
    justify-self: center;
  }
  &-Content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &-Image {
    flex: 0 0 30%;
    background-image: url("https://images.unsplash.com/photo-1615125946484-86dd0a2cdb18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1308&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(221, 169, 26, 0.12) 0px 4px 6px,
      rgba(90, 69, 69, 0.23) 0px 12px 13px, rgba(235, 229, 229, 0.364) 0px -3px 5px;
  }
  &-Info {
    flex: 0 0 65%;
  }
  &-Title {
    position: relative;
    &::after,
    &::before {
      content: "";
      width: 40px;
      height: 30px;
      position: absolute;
    }
    &::after {
      right: -16px;
      top: -6px;
      border-right: 3px solid rgb(233, 202, 21);
      border-top: 3px solid rgb(233, 202, 21);
    }
    &::before {
      border-left: 3px solid rgb(233, 202, 21);
      border-bottom: 3px solid rgb(233, 202, 21);
      left: -16px;
      bottom: -6px;
    }
  }

  &-SubTitle {
    color: rgb(207, 217, 23);
    font-weight: 500;
    margin-bottom: 12px;
    letter-spacing: 1px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 69%;
      right: 0;
      height: 1px;
      top: calc(50% - 1px);
      background-image: linear-gradient(90deg, transparent, #efe709);
    }
  }
  &-Text {
    line-height: 1.6;
  }
}
