.Podcast {
  display: flex;
  box-shadow: rgba(39, 112, 238, 0.25) 0px 4px 8px -2px, rgba(185, 215, 167, 0.08) 0px 0px 0px 1px;
  border-radius: 12px;
  overflow: hidden;
  &-Title {
    font-size: 2em;
    margin-bottom: 12px;
  }
  &-Date {
    display: flex;
    align-items: center;
    font-size: 12px;
    width: auto;
    &_Icon {
      margin-right: 10px;
      position: relative;
      top: -3px;
      font-size: 16px;
    }
  }
  &-Content {
    flex-basis: 65%;
    background: #1c1823;
    background: linear-gradient(90deg, rgba(16, 42, 43, 1) 0%, rgba(28, 24, 35, 1) 60%);
    padding: 20px 40px;
    padding-right: 0;
  }
  &-ImageBox {
    flex-basis: 35%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    div {
      position: absolute;
      inset: 0 0 0 0;
      transition-delay: 0.2s;
      transition: 0.3s;
      background-position: center;
      background-size: contain;
      background-image: url("https://images.unsplash.com/photo-1670871305560-4007612b9a3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    }
    &::before {
      content: "";
      height: 110%;
      width: 80px;
      background: #1c1823;
      position: absolute;
      left: -40px;
      top: 0;
      bottom: 0;
      z-index: 2;
      transform: rotate(-4deg);
    }
    &:hover div {
      transform: scale(1.06);
    }
  }
  &-Buttons {
    button {
      color: #f2f2f2;
      border: 0;
      cursor: pointer;
      font-size: 14px;
      margin: 6px 3px;
      padding: 3px 6px;
      border-radius: 4px;
      background-color: #32323b;
      transition: 0.2s;
      &:hover {
        transform: translateY(-2px);
        color: aquamarine;
      }
    }
  }
}
