@mixin darkMainRules($bgColor) {
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #100f10;
  color: whitesmoke;
}

@mixin yellowButton($bgColor, $color) {
  background-color: $bgColor;
  border-radius: 100px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: $color;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:not(.grid__button-active):hover {
    background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
  }
}
