@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #fff;
  background: #c850c0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  padding: 0 20px;
}
.wrapper {
  position: relative;
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .cart-nav {
  position: absolute;
  right: 0;
  top: -35%;
  width: 180px;
  background: #fff;
  padding: 13px 15px;
  border-radius: 3px;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
}
.cart-nav .icon {
  color: #c850c0;
  margin-right: 10px;
}
.cart-nav .icon i {
  font-size: 20px;
  padding-right: 10px;
}
.cart-nav .icon span {
  font-weight: 500;
}
.cart-nav .item-count {
  font-size: 15px;
  height: 23px;
  width: 23px;
  color: #fff;
  background: #c850c0;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
}
.wrapper .card {
  position: relative;
  background: #fff;
  border-radius: 3px;
  width: calc(33% - 13px);
  height: 340px;
  overflow: hidden;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.wrapper .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.card:hover img {
  transform: scale(1.1);
}
.wrapper .card .content {
  position: absolute;
  width: 100%;
  bottom: -50%;
  background: #fff;
  padding: 10px 20px 22px 20px;
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
.wrapper .card:hover .content {
  bottom: 0;
}
.card .content .row,
.content .buttons {
  display: flex;
  justify-content: space-between;
}
.content .row .details span {
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
  font-weight: 600;
}
.content .row .details p {
  color: #333;
  font-size: 12px;
  font-weight: 400;
}
.content .row .price {
  color: #c850c0;
  font-size: 20px;
  font-weight: 600;
}
.content .buttons {
  margin-top: 20px;
}
.content .buttons button {
  width: 100%;
  padding: 9px 0;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #c850c0;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.buttons button:first-child {
  color: #c850c0;
  margin-right: 10px;
  background: #fff;
}
button:first-child:hover {
  color: #fff;
  background: #c850c0;
}
.buttons button:last-child {
  color: #fff;
  margin-left: 10px;
  background: #c850c0;
}
button:last-child:hover {
  background: #fa8bff;
  border-color: #fa8bff;
}

/* Social icons */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.social {
  display: inline-flex;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 100;
}

.social a {
  text-decoration: none;
  color: #17181c;
  transition: all 0.3s;
}

.social .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.social a:hover {
  color: #ffffff;
  transition: all 0.3s;
}

.social .icon:hover a,
.social .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.social .webstart:hover,
.social .webstart:hover .tooltip,
.social .webstart:hover .tooltip::before {
  background-color: #e44d26;
  color: #ffffff;
  transition: all 0.3s;
}

.social .js:hover,
.social .js:hover .tooltip,
.social .js:hover .tooltip::before {
  background-color: #f7c327;
  color: #ffffff;
  transition: all 0.3s;
}

.social .react:hover,
.social .react:hover .tooltip,
.social .react:hover .tooltip::before {
  background-color: #61dafb;
  color: #ffffff;
  transition: all 0.3s;
}

.social .php:hover,
.social .php:hover .tooltip,
.social .php:hover .tooltip::before {
  background-color: #7377ad;
  color: #ffffff;
  transition: all 0.3s;
}

.social .wp:hover,
.social .wp:hover .tooltip,
.social .wp:hover .tooltip::before {
  background-color: #207196;
  color: #ffffff;
  transition: all 0.3s;
}

.social .telegram:hover,
.social .telegram:hover .tooltip,
.social .telegram:hover .tooltip::before {
  background-color: #32afed;
  color: #ffffff;
  transition: all 0.3s;
}

.social .vk:hover,
.social .vk:hover .tooltip,
.social .vk:hover .tooltip::before {
  background-color: #5181b8;
  color: #ffffff;
  transition: all 0.3s;
}

.social .instagram:hover,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
  transition: all 0.3s;
}

.social .youtube:hover,
.social .youtube:hover .tooltip,
.social .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
  transition: all 0.3s;
}
