body {
  background-color: #1d1d1d;
  color: #fff;
}
.App {
  display: grid;
  grid-template-columns: minmax(300px, 400px) 1fr;

  gap: 12px;
  width: 100%;
  position: relative;
  &__Form {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 5em 1em;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-right: 2px solid #5a4007;
    border-bottom: 2px solid #5a4007;
    place-self: start;
  }
  &__Posts {
    padding: 20px 16px;
    position: relative;

    &-loading {
      transition: transform 0.3s;
      &::before {
        content: "";
        position: absolute;
        z-index: 1000;
        inset: 0 0 0 0;
        background-color: rgba($color: #000000, $alpha: 0.4);
        background-image: url("./spinners/spinner.svg");
        background-repeat: no-repeat;
        background-position: center 450px;
      }
      .Posts__item {
        filter: blur(3px);
        transform: scale(0.95);
      }
    }
  }
}
