body {
  background-color: #333;
}

table {
  margin: 0 auto;
  color: #fff;
  border-spacing: 10px;

  #imdbID {
    width: 15%;
  }
  #poster {
    width: 25%;
  }
  #year {
    width: 12%;
  }
  thead {
    background-color: #444;

    th {
      padding: 1em;
      color: #fff;
    }
  }
  td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-left: 2px solid #444;
    border-top: 2px solid #444;
    & > img {
      max-width: 120px;
    }
    &.table__delete {
      text-align: center;
      padding: 0 20px;
      background-color: #444;

      writing-mode: horizontal-tb;
      button {
        padding: 0.4rem 0.8rem;
        cursor: pointer;
        font-weight: 500;
        background-color: #111;
        border: 0;
        border-radius: 4px;
        font-size: 16px;
        color: #ff1c3e;
        transition: 0.3s;
        &:hover {
          background-color: #7c0000;
          color: #fff;
        }
      }
    }
  }
}
p.noMovie,
h3 {
  text-align: center;
  padding-bottom: 10px;
  color: #f2f2f2;
  width: 75%;
  margin: 20px auto;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 2px;
  font-weight: 200;
  border-bottom: 12px solid darkcyan;
}

h3 {
  font-weight: 100 !important;
  text-align: left;
}

::selection {
  background-color: rgb(211, 0, 0);
}
